{% extends "base.html" %}

{% block title %}Thunderbolt Interactive{% endblock %}

{% block body %}
  <div class="title" id="title">
    <a href="/">
      <h1 class="header">Thunderbolt Interactive</h1>
    </a>
  </div>

  <div class="aboutContainer">
    <div class="aboutWelcome">
      <h2>About Thunderbolt Interactive</h2>
      <p>Founded by Theodore Cromwell in 2024, Thunderbolt Interactive is dedicated to crafting captivating, immersive gaming experiences. Our team of passionate creators and developers is driven by a vision to push the boundaries of interactive entertainment.</p>
      <p>With a focus on creativity, innovation, and user-centered design, we strive to develop games that leave a lasting impact. Whether through thrilling gameplay, stunning visuals, or engaging narratives, Thunderbolt Interactive aims to connect with players around the globe.</p>
    </div>
  </div>

  <!-- Navigation buttons added directly to About page -->
  <div class="navigationBtns">
    <div class="homeBtn">
      <button onclick="location.href='/'">Home</button>
    </div>
    <div class="gamesBtn">
      <button onclick="location.href='/games'">Games</button>
    </div>
  </div>
{% endblock %}
