{% extends "base.html" %}

{% block title %}Thunderbolt Interactive{% endblock %}

{% block body %}
  <div class="title" id="title">
    <a href="/">
      <h1 class="header">Thunderbolt Interactive</h1>
    </a>
  </div>
  <div class="contactsDiv">
  <h1 class="contacts">Contacts</h1>
    <p class="contact1"></p>
    <p class="contact2"></p>
  </div>

  <!-- Navigation buttons moved here to appear on the contact page -->
  <div class="navigationBtns">
    <div class="homeBtn">
      <button onclick="location.href='/'">Home</button>
    </div>
    <div class="gamesBtn">
      <button onclick="location.href='/games'">Games</button>
    </div>
  </div>
{% endblock %}
