.title {
    background-color: #333;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 15px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #999999;
    border-radius: 5px;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    height: 50px;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Arial, sans-serif;
}

.homeBtn {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    top: 100px;
    left: 30px;

    transform: translate(0, 0);

    background-color: #444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

.homeBtn button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.homeBtn:hover {
    background-color: #555;
}

.gamesBtn {
    width: 62px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    top: 100px;
    left: 100px;

    transform: translate(0, 0);

    background-color: #444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

.gamesBtn button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

.gamesBtn:hover {
    background-color: #555;
}