<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Games</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="title" id="title">
    <a href="/">
      <h1 class="header">Games</h1>
    </a>
  </div>

  <div class="mainContainer" id="mainContainer">
    <div class="homeBtn" id="homeBtn">
      <button>Home</button>
    </div>
    <div class="gamesBtn" id="gamesBtn">
      <button>Games</button>
    </div>
  </div>

  <div class="gameContainer" id="gameContainer">
    <div class="game radiantRuinGame" id="radiantRuinGame">
      <h2 class="gameTitle">Radiant Ruin</h2>
      <button>
        <img class="gameImg" src="{{ url_for('static', filename='images/radiant-ruin.png') }}" alt="Radiant Ruin">
      </button>
    </div>

    <div class="gameTitles" id="gameTitles"> </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>