{% extends "base.html" %}

{% block title %}Thunderbolt Interactive{% endblock %}

{% block body %}
  <div class="title" id="title">
    <a href="/">
      <h1 class="header">Thunderbolt Interactive</h1>
    </a>
  </div>

  <div class="mainContainer" id="mainContainer">
    <div class="homeBtn" id="homeBtn">
      <button>Home</button>
    </div>

    <div class="gamesBtn" id="gamesBtn">
      <button>Games</button>
    </div>

    <div class="radiantRuinContainer">
      <div class="buyBtnDiv">
        <button class="buyBtn" id="buyBtn">Buy</button>
      </div>
    </div>
  </div>
  <div class="devLog" id="devLog">
    <h>Development Log</h>
    <p>Radiant Ruin is currently in active development demo expected 1/15/2025.</p>
  </div>
{% endblock %}
